* {
	margin: 0;
	padding: 0;
}

#mainScreen{
	width: 800px;
	height:1300px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.bg{
	width: 800px;
	height: 1300px;
	position: absolute;
	background-image: url(../img/bg.jpg);
}

#bg2{
	top:-1300px;
}

#airplane{
	width: 200px;
	height: 200px;
	background-image:url(../img/air.png);
	background-size: 200px 200px;
	position:absolute;
	left: 300px;
	top: 1000px;
}

.bullent{
	position: absolute;
	width: 10px;
	height: 20px;
	background-image:url(../img/bu.png);
	background-size: 10px 20px;
}

.tank{
	position: absolute;
	width: 50px;
	height: 50px;
	background-image:url(../img/tank.png);
	background-size: 50px 50px;

}